<h2 mat-dialog-title>Student Registration</h2>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name" name="firstName" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name" name="lastName" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="address" placeholder="Address" name="address" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="phoneNumber" placeholder="Phone Number" name="phoneNumber" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="dob" [matDatepicker]="dobPicker" placeholder="Date of Birth" name="dob" required>
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" name="email" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" (click)="submitForm()" [disabled]="!form.valid">Register</button>
    <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
</div>
