<h2 mat-dialog-title>Student Registration</h2>
<br />
<mat-dialog-content>
  <form class="form-container" [formGroup]="form" (ngSubmit)="submitForm()">

    <div class="form-row">
      <mat-form-field class="flex-item">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Ex. Joe" name="firstName" required>
      </mat-form-field>
      <mat-form-field class="flex-item">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Ex. Doe" name="lastName" required>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="flex-item">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="Ex. 106 DOYERS ST. 8 ARLINGTON DR. 599" name="address" required>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="flex-item">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="Ex. 599-999-9999" name="phoneNumber" required>
      </mat-form-field>
      <mat-form-field class="flex-item">
        <mat-label>Date of Birth</mat-label>
        <input matInput formControlName="dob" [matDatepicker]="dobPicker" placeholder="Date of Birth" name="dob" required>
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-datepicker #dobPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="flex-item">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. joe.doe@gmail.com" name="email" required>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!form.valid">Register</button>
  <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
